body {
    background-color: #183059;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.timer {
    color: #F6F4F3;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    margin-top: 100px;

}
.hours, .minutes, .days{
    width: 135px;
    float: left;
    padding: 5px 0;
    
}

.timer .days{
    border-radius: 6px;
    background-color: #ef2f3c;
    color: #183059;
    margin-left: 260px;
}
.timer .days #d{
    font-size: 50px;
    font-weight: 900;
    
}
.timer .days span{
color: #fff;
display: block;
margin-bottom: 10px;
}

.timer .hours{

    border-radius: 6px;
    background-color: #f6f4f3;
    color: #183059;
    margin: 0 7px;

}
.timer .hours #h{
    font-size: 50px;
    font-weight: 900;
    
}
.timer .hours span{
color: #276fbf;
display: block;
margin-bottom: 10px;
}

.timer .minutes{

    border-radius: 6px;
    background-color: #276fbf;
    color: #183059;
    margin-right: 260px;
}
.timer .minutes #m{
    font-size: 50px;
    font-weight: 900;
    
}
.timer .minutes span{
color: #fff;
display: block;
margin-bottom: 10px;
}

@-webkit-keyframes days {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes days {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @-webkit-keyframes days-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes days-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  /* 鼠标的hover效果 */
  .days {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .days:hover, .days:focus, .days:active {
    -webkit-animation-name: days-sink, days;
    animation-name: days-sink, days;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }